version: '3.8'

services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        HOST_UID: ${HOST_UID:-1000}
        HOST_GID: ${HOST_GID:-1000}
        HOST_USER: ${HOST_USER:-vscode}
        HOST_GROUP: ${HOST_GROUP:-vscode}
        DOCKER_GID: ${DOCKER_GID:-999}
    volumes:
      - ../..:/workspaces:cached
      - ${HOME}/.aws:/home/${HOST_USER}/.aws:cached
      - ${HOME}/.ssh:/home/${HOST_USER}/.ssh:cached
      - ${HOME}/.awsvault:/home/${HOST_USER}/.awsvault:cached
      - ${HOME}/.gitconfig:/home/${HOST_USER}/.gitconfig:cached
      - ${HOME}/.Renviron:/home/${HOST_USER}/.Renviron:cached
      - ${HOME}/.bash_history:/home/${HOST_USER}/.bash_history:cached
      - ${HOME}/.radian_history:/home/${HOST_USER}/.radian_history:cached
      - ${HOME}/.local/lib/R/site-library:/home/${HOST_USER}/.local/lib/R/site-library:cached
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - RUN_MODE=devcontainer
      - AWS_SDK_LOAD_CONFIG=1
      - R_LIBS_USER=/home/${HOST_USER}/.local/lib/R/site-library
      - AWS_VAULT_BACKEND=file
      - AWS_VAULT_FILE_DIR=/home/${HOST_USER}/.aws-vault
    command: sleep infinity
